
.imagem-texto img {
    float: left;
    margin-right: 10px;
}
  
.btn {
    padding: 6px 8px;
    width: 50px;
    color: #7900ff;
    background-color: black;
    border: 1px solid #555;
    border-radius: 5px ;
    text-align: right ;
    user-select: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #3f3f3f;
    transition: background 1s;
}


body {
    text-align: center;
}
.botao-baixar {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: #555;
    font-weight: bold;
    border-radius: 4px;
}
.botao-baixar a {
    color: #7900ff; 
    text-decoration: none;
}
.texto-baixar {
    text-align: center;
    margin-top: 20px;
}
.texto-baixar h2 {
    font-size: 24px;
    font-weight: bold;
    color: #000000;    
}
.texto-baixar p {
    font-size: 18px;
    color: #000000;    
    line-height: 1.5;
}
    footer { 
        background-color: black;
        padding: 10px;
        }
    footer p {
        color: #7900ff;
        text-align: center;
        }