.topo {
    display: flex;
    align-items: center;
    background-color: black;
     color: #7900ff;
}

.topo img {
    margin-right: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.topo h1 {
    font-size: 60px;
}

.h1 {
    text-align: center;
    width: 100%;
    padding: 31.2px;
}

.cad {
    padding: 6px 8px;
    width: 50px;
    color: #7900ff;
    background-color: black;
    border: 1px solid #555;
    border-radius: 5px ;
    text-align: right ;
    user-select: none;
    cursor: pointer;
}

.cad:hover {
    background-color: #3f3f3f;
    transition: background 1s;

    }

nav {
    text-align: center;
    background-color: #7900ff;
    padding: 10px;
}

nav a {
    color: black;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    color: white;
    background-color: #7900ff;
}


.imagem-texto img {
    float: left;
    margin-right: 10px;
}
  
.btn {
    padding: 6px 8px;
    width: 50px;
    color: #7900ff;
    background-color: black;
    border: 1px solid #555;
    border-radius: 5px ;
    text-align: right ;
    user-select: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #3f3f3f;
    transition: background 1s;
}


body {
    text-align: center;
}
.botao-baixar {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: #555;
    font-weight: bold;
    border-radius: 4px;
}
.botao-baixar a {
    color: #7900ff; 
    text-decoration: none;
}
.texto-baixar {
    text-align: center;
    margin-top: 20px;
}
.texto-baixar h2 {
    font-size: 24px;
    font-weight: bold;
    color: #000000;    
}
.texto-baixar p {
    font-size: 18px;
    color: #000000;    
    line-height: 1.5;
}
---------------------------------------------------{display: none;}
.pf {
    width: 20%; height: 50px;
    color: black;
    text-align: center;
    margin: 50px 10px 15px 580px;
    padding: 5px 5px 10px 10px;
    display: block;
}
#perguntas {
    display: none;
  }
#perguntas:target {
    margin: 5px 10px 15px 30px;
    padding: 5px 5px 10px 10px;
    display: block;
}

#privacidade {
    display: none;
  }
#privacidade:target {
    margin: 5px 10px 15px 520px;
    padding: 5px 5px 10px 10px;
    display: inline-block;
}

#denuncia {
    display: none;
  }
#denuncia:target {
    margin: 5px 10px 15px 1000px;
    padding: 5px 5px 10px 10px;
    display: inline-block;
}

#editar {
    display: none;
  }
#editar:target {
    margin: 5px 10px 15px 30px;
    padding: 5px 5px 10px 10px;
    display: block;
}

#bloqueio {
    display: none;
  }
#bloqueio:target {
    margin: 5px 10px 15px 520px;
    padding: 5px 5px 10px 10px;
    display: inline-block;
}

#excluir {
    display: none;
  }
#excluir:target {
    margin: 5px 10px 15px 1000px;
    padding: 5px 5px 10px 10px;
    display: inline-block;
}

.button {
    text-align: center;
    width: 20%; height: 50px;
    color: #7900ff;
    width: 400px;
    margin: 50px 10px 15px 70px;
    padding: 5px 5px 10px 10px;
    border: 2px solid black;
    display: inline-block;
}

.email {
    width: 20%; height: 50px;
    color: black;
    text-align: center;
    margin: 50px 10px 15px 580px;
    padding: 5px 5px 10px 10px;
}

---------------------------------------------------------------------------------------------------------{display: none;}

.cadastro {
    background: black;
    color: white;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

main {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: #7900ff;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

main.social-media {
    display: flex;
    align-content: center;
}

main .social-media a {
    text-decoration: none;
}

main .social-media img {
    width: 36px;
    margin-left: 10px;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label {
    display: flex;
    flex-direction: column;
}

main form label span {
    font-size: 1.1rem;
    margin-top: 2rem;
}

main form input {
    background: #161923;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: rgba(166, 166, 166);
    font-size: 1rem;
    border: 1px solid #040B18;
    border-radius: 8px;
}

main form input [type="submit"] {
    cursor: pointer;
    width: 50%;
    margin-top: 4rem;
    border: none;
    border-radius: 32px;
    background: #7900ff;
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
}

main form input[type="submit"]:hover {
    background: #7900ff;
}

section.img .circle {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #E8CBC0, #636FA4);
    clip-path: circle(40% at right 80%);
    z-index: -1;
}
---------------------------------------------------------------{display: none;}

.download {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #7900ff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    max-width: 200px;
    margin-bottom: 20px;
}

.h1 {
    color: #ffffff;
}

.p {
    color: #ffffff;
    margin-bottom: 30px;
}

.btn-download,
.btn-voltar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6109a8;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-download:hover,
.btn-voltar:hover {
    background-color: #7900ff;
}


footer { 
    background-color: black;
    padding: 10px;
    }
footer p {
    color: #7900ff;
    text-align: center;
    }
 